<nav class="navbar navbar-expand-lg header-nav navbar-dark">
    <div class="container">
    <span class="vip-message" [class.active]="donationAmount >= 200"> {{ vipMessage }} </span>

      <a class="navbar-brand" routerLink="/">
        <i class="bi bi-alt"></i>
        FancyCars
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav align-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Contacts</a>
          </li>
          <li class="nav-item donation-nav-item">
            <button type="button" class="btn btn-success text-white" (click)="countDonationOnClick()">Donate 10€</button>
            <div class="text-center text-white"></div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="#">Donation: <b>{{donationAmount}}</b> €</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

