.active {
    background-color: yellow;
    border: 4px solid black;
    color: #000;
}

.list-group {
    font-size: 80%;

    .list-group-item {
        background-color: #033959;
        color: #fff;
    }
}
