

<h1 class="py-lg-5">Welcome to preWork Angular Day 2</h1>  

<!-- We want that when we click a button that the form will be submitted and we those values to be taken from the inputs and to be printed in the homeComponent. For this, we will add a button in the html and the function onSubmit() in our homeComponent.ts: -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-md-6" *ngFor="let car of cars">
                    <ul class="list-group w-75 my-3">
                        <li class="list-group-item">Model: {{car.model}}</li>
                        <li class="list-group-item border-0">Production year : {{car.year}}</li>
                        <li class="list-group-item border-0">Power: {{car.power}} ps</li>
                        <li class="list-group-item border-0">Price: {{car.price}} €</li>
                    </ul>
                </div>
            </div>
        </div>
    <div class="col-12 col-md-4">
            <h3>Add new car</h3>
            <form [formGroup]="newCarInfo" (ngSubmit)="onSubmit()">
                <label class="mx-2">
                    Model Name:
                    <input type="text" formControlName="model" class="form-control"  placeholder="Mazda 6" required>
                </label>
                
                <label class="mx-2">
                    Year of Production:
                    <input type="number" formControlName="year" class="form-control"  placeholder="2021" required>
                </label>
                
                <label class="mx-2">
                    HPower:
                    <input type="number" formControlName="power" class="form-control" placeholder="120"  required>
                </label>
                
                <label class="mx-2">
                    Price:
                    <input type="number" formControlName="price" class="form-control" placeholder="10000"  required>
                </label>
                <br>
                <input type="submit" class="btn btn-primary btn-lg my-4">
            </form>
        </div>
    </div>
</div>  


